<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <script th:inline="javascript">
        let basePath = /*[[@{/}]]*/ '';
    </script>
    <script th:inline="javascript" th:src="@{/js/gfxy/jsloader.js}"></script>
    <script th:inline="javascript" th:src="@{/js/gfxy/iJsLoader.js}"></script>
    <script th:inline="javascript" th:src="@{/js/gfxy/loadSkin.js}"></script>
</head>

<body></body>
</html>
