<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="600 seconds">
    <contextName>ncmc-portal</contextName>
    <jmxConfigurator />
    <substitutionProperty name="log.base" value="../logs/ncmc-portal/" />
    <!-- 测试、生产环境使用该配置,具体路径根据发布目录确定
    <substitutionProperty name="log.base" value="/app/IBM/WebSphere/AppServer/profiles/AppSrv05/logs/server1/Fulfill/"/>
     -->

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date [%thread] [%contextName] [%X{traceId}] %-5level %logger{80}.%L - %msg%n</pattern>
        </layout>
    </appender>

    <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log.base}ncmc-portal.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <maxHistory>30</maxHistory>
            <fileNamePattern>${log.base}ncmc-portal.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date [%thread] [%contextName] [%X{traceId}] %-5level %logger{80}.%L - %msg%n</pattern>
        </layout>
    </appender>

    <logger name="com.gfxy">
        <level value="DEBUG" />
    </logger>

    <logger name="org.springframework.boot">
        <level value="ERROR" />
    </logger>
    <logger name="org.hibernate">
        <level value="ERROR" />
    </logger>

	<logger name="io.netty">
        <level value="ERROR" />
    </logger>

    <logger name="org.springframework">
        <level value="ERROR" />
    </logger>
    
    <logger name="org.mybatis.spring">
        <level value="ERROR" />
    </logger>

    <logger name="org.apache.zookeeper">
        <level value="ERROR" />
    </logger>

    <logger name="org.quartz.core">
        <level value="ERROR" />
    </logger>

    <root>
        <level value="DEBUG" />
        <appender-ref ref="stdout" />
        <appender-ref ref="logfile" />
    </root>

</configuration>
